{% extends 'admin/_app.html' %}
{% block page_title %} Noticias {% endblock %}
{% block content %}
              
		<div class="card">
	            <div class="card-body">
	             
					<h4>Menu</h4>
					<form method='POST' action='{{url_for("main.add_menu")}}'>
						<div class="row">
							<div class="col-sm-8">
								<div class="row">
									<div class="col-sm-5">
										<label class='font-medium'>Nombre Menu</label>
										<input name='name' type='text' class='form-control'/>
									</div>
									<div class='col-sm-5'>
										<label class='font-medium'>URL</label>
										<input name='url' type='text' class='form-control'/>
									</div>
									<div class='col-sm-2' style='padding-top: 28px'>
										<button type='submit' class='btn btn-primary'>Agregar</button>
									</div>
								</div>
							</div>
						</div>
					</form>  
					</div>
	            <div class="card-body">
					 
					 <div class="table-responsive">
	                    <table class="table">
	                        <thead>
	                            <tr>
	                                <th scope="col">Nombre</th>
	                                <th scope="col">Link</th>
	                                <th scope="col">Fecha Creación</th>
	                                <th></th>
	                                <th></th>
	                            </tr>
	                        </thead>
	                        <tbody>
								{% for x in list_menu %}
	                            <tr>
	                            	<td>
	                            		<input type='text' value="{{x.name}}"
	                            			/></td>
	                            	<td>
	                            		<input type='text' value="{{x.url}}"
	                            			/></td>
	                            	<td>{{(x.created_at if 'created_at' in x else None) |formatdatetime}}</td>
	                            	<td width="250">
	                            		<label class="custom-control custom-checkbox">
			                            <input type="checkbox"  class="custom-control-input">
			                            <span class="custom-control-indicator"></span>
			                        	Visible
			                        </label>
	                            	</td>
	                            	<td width="250">
	                            		<a href='' class='btn btn-success'>
	                            			<i class='fa fa-edit'></i> Actualizar</a>
	                            		<a href='' class='btn btn-danger'>
	                            			<i class='fa fa-trash'></i> Eliminar</a>
	                            	</td>
	                            </tr>
	                            {% endfor %}
	                        </tbody>
	                    </table>
	                </div>           
	            </div>
	        </div>
               
{% endblock %}
