{% extends 'admin/_app.html' %}
{% block page_title %} Agregar Noticia {% endblock %}
{% block content %}
              
<div class="row">
	<div class="col-sm-6">
		<form method='POST' id='news-form' action=''>
			<input type="hidden" name="model" value='news'>
			<div class="card">
				<div class="card-body">
		           {%for x in model %}

		           		{% if  'hidden' not in x[1] or x[1]['hidden']==False %}
			           <div class='form-group'>
			           		
			           		{% if x[1]['input'] == 'text' %}
			           		<label for='{{x[0]}}'>
			           			 {{x[1]['label']}}
			           		</label>
			           		<input type='text' id='{{x[0]}}' 
			           			class='form-control' name='{{x[0]}}' />
			           		{% elif x[1]['input'] == 'area' %}
			           		<label for='{{x[0]}}'>
			           			 {{x[1]['label']}}
			           		</label>
			           		  <textarea name="{{x[0]}}"></textarea>
				                <script>
				                        CKEDITOR.replace( '{{x[0]}}' );
				                </script>
				             {% elif x[1]['input'] == 'checkbox' %}
				             <div>
				             	<label class="ck-featured custom-control custom-checkbox">
		                            <input type="checkbox"  name='{{x[0]}}' class="custom-control-input">
		                            <span class="custom-control-indicator"></span>
					           			 {{x[1]['label']}}
					           		</label>
				             </div>
			           		{% endif %}
			           </div>
			           		{% endif %}
		           {% endfor %}
		        </div>
				<div class="card-footer">
					<div class="text-danger" id='response-message'></div>
					<hr>
					<button type='submit' class='btn btn-success'>
						<i class='fa fa-save'></i>
					 Guardar</button>
				</div>
	        </div>
	    </form>
    </div>
</div>
               
{% endblock %}
