{% extends 'admin/_app.html' %}
{% block page_title %} Noticias {% endblock %}
{% block content %}
              
		<div class="card">
	            <div class="card-body">
	                <h4 class="card-title"><a class='btn btn-primary' href='{{ url_for("main.add_news") }}'>
	                	<i class='fa fa-plus	'></i> Agregar noticia</a></h4>
	                <div class="table-responsive">
	                    <table class="table">
	                        <thead>
	                            <tr>
	                                <th scope="col">Titulo</th>
	                                <th scope="col">Fecha Creación</th>
	                                <th></th>
	                                <th></th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            {% for x in news %}
	                            <tr>
	                            	<td>{{x.title}}</td>
	                            	<td>{{(x.created_at if 'created_at' in x else None) |formatdatetime}}</td>
	                            	<td width="250">
	                            		<label class="ck-featured custom-control custom-checkbox">
			                            <input type="radio"
			                            data-code='{{ x.slug }}' 
			                             {{ "checked" if x.featured == "on" }} name='featured' class="custom-control-input">
			                            <span class="custom-control-indicator"></span>
			                        Mostrar en portada
			                        </label>
	                            	</td>
	                            	<td width="250">
	                            		<label class="custom-control custom-checkbox">
			                            <input type="checkbox"  class="custom-control-input">
			                            <span class="custom-control-indicator"></span>
			                        	Visible
			                        </label>
	                            	</td>
	                            	<td width="250">
	                            		<a href='' class='btn btn-info'>
	                            			<i class='fa fa-edit'></i> Editar</a>
	                            		<a href='' class='btn btn-danger'>
	                            			<i class='fa fa-trash'></i> Eliminar</a>
	                            	</td>
	                            </tr>
	                            {% endfor %}
	                        </tbody>
	                    </table>
	                </div>
	               
	            </div>
	        </div>
               
{% endblock %}
