 @import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
	position: relative;
	height: 320px;
	width: 100%;
	background-size: cover;
	background-position: 0 70%;
	background-repeat: no-repeat;
}
header:after{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	content: '';
	background-color: rgba(0,100,100,.8);
	z-index: 0;
}
header:before{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	content: '';
	background-color: rgba(0,0,0,.3);
	z-index: 0;
}
body{
    font-family: 'Merriweather', serif;
}

.btn{
	border: none;
	background:none;
}
.control{
	border:none;
	padding:7px 15px;
}
.wrapper{
	position: relative;
	z-index: 1;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 10px;
}
.logo{
	width: 120px;
	height: 120px;
	background-position: center;
	background-size: 110%;
	margin: 0 auto;
	position: relative;
}
.brand{
	padding: 40px 0 0 0;
}
.logo:after{
	position: absolute;
	content: '';
	left: -10px;
	top: -10px;
	width: 110%;
	height: 110%;
	border:4px solid #fff;
}
.logo a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	text-indent: -999px;
	overflow: hidden;
}
.searcher{
	max-width: 500px;
	margin: 40px auto;
	width: 100%;
}
.f-search{
	display: flex;
	flex-direction: row;
}
.searcher input{
	flex: 1;
	height: 48px;
	font-size: 18px;
	color: #333;
}
.searcher button{
	width: 70px;
	background-color: #ff4757;
	color: #fff;
	cursor: pointer;
}


/*INDEX*/
.main{
	margin: 20px 0;	
}

.news{
	align-items: center;
	justify-content: center;
}

#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}
.title-result{
	font-size: 28px;
	margin: 50px 0;
	display: block;
}
/* These are the classes that are going to be applied: */

/* Base styles */
#grid:after{
	content: '';
	clear: both;
	display: block;
	position: relative;
}
#grid{
	margin: 0 -13px;
}
.column {
    float: left;
}
.size-1of4 {
    width: 25%;
}
.size-1of3 {
    width: 33.333%;
}
.size-1of2 {
    width: 50%;
}
.item{
	padding: 10px;
	margin:4px;
}



 .meta-image{
 	width: 100%;
 	height: 120px;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-position: center;
 	display: block;
 	margin-bottom: 18px;
 }
 .meta-info{
	display: block;
 }
 .meta-info h3{
	margin: 5px 0 16px 0;
 }
 .meta-info h3 a{
 	font-family: 20px;
 	color: #333;
 	line-height: 1.4;
	font-weight: bold;
 }
 .meta-info p{
 	font-size: 14px;
 	display: block;
 	line-height: 1.6;
 	color: #333;
 }


.main-news{
	display: flex;
	flex-direction:row; 
}
.main-news .featured .image .content p{
	font-size: 18px;
	line-height: 1.4;
}
.main-news .featured .image .content h3{
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 16px;
}
.main-news .featured .image .content a:hover{
	text-decoration: underline;
}
.main-news .featured .image .content a{
	color: #fff;
	text-decoration: none;
}
.main-news .featured .image .content{
	display: block;
	position: relative;
	width: 100%;
	color: #fff;
	z-index: 1;
	padding: 18px;
}
.main-news .featured .image:before{
	background: linear-gradient(to bottom,rgba(68,68,68,0) 10%,#444);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00444444',endColorstr='#444444',GradientType=0);
	position: absolute;
	top: 0;
	height: 100%;
	bottom: 0;
	width: 100%;
	content:'';
	z-index: 1;
}
.main-news .featured .image{
	position: relative;
	justify-content: flex-end;
	align-items: flex-end;
	display: flex;
	min-height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.main-news .featured{
	flex: 1;
	max-width: 600px;
}
.main-new .related-news{
	flex: 1;
	height: 100%;
	min-height: 1px;
}

.news-detail{
	margin: 120px 0;
	display: block;
}
.comment-section{
	max-width: 460px;
	margin: 0 0  auto;
}
.control.comment{
	display: block;
	border:1px solid #ccc;
	font-size: 18px;
	padding: 12px;
	width: 100%;
    font-family: 'Merriweather', serif;
}
.btn-comment{
	margin-top: 12px;
	background: #ff4757;
	color: #fff;	
	padding: 10px;
	font-size: 18px;
}
.list-comment{
	margin:20px 0;
}
.text-error{
	display: block;
	padding: 12px 0;
	color: red;
}
.comment-item{
	display: block;
	padding: 22px 0;
	border-bottom: 1px solid #ccc;
}
.comment-item:after{
	content: '';
	clear: both;
	display: block;
}
.comment-item {
	overflow: hidden;
}
.comment-item .text{
	overflow: hidden;
	padding-top: 18px;
	padding-left: 20px;
}
.comment-item .image{
	float: left;
	overflow: hidden;
}
.news-detail h2{
	font-size: 42px;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 20px;	
}
.news-detail .text{
	line-height: 2;
	font-size: 16px;
}

.topbar .menu {
	background: #cc4057;
	margin-top: 20px;
}
.topbar .menu ul li{
	display: inline-block;
}
.topbar .menu ul li a:hover{
	background: #ff4757;
}
.topbar .menu ul li a{
	display: block;
	padding: 22px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

.footer{
	background:#444;
	padding: 60px 0;
}
.logo-footer{
	color: #fff;
	text-decoration: none;
	font-size: 22px;
}