<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %} - Ajedrez</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="//cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
<script type="text/javascript">
	KING = {
		url :{
			featured : '{{url_for("main.featured_status")}}'
		} 
	}
</script>
</head>
<body>
<div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
  <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                
                    <div class="navbar-brand">
                        <a href="{{url_for('main.home')}}" class="logo">
                        	<i class='fa fa-chess'></i>
                              KING CHESS
                        </a>
                    </div>
                 
                </div>
            </nav>
        </header>
         <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="in">
                        <li class="sidebar-item selected">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link active" href="{{url_for('main.dashboard')}}" aria-expanded="false">
                                <i class="fa fa-home"></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="" aria-expanded="false">
                                <i class="fa fa-users"></i>
                                <span class="hide-menu">Usuarios</span>
                            </a>
                        </li>
                          <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{url_for('main.content')}}" aria-expanded="false">
                                <i class="fa fa-cog"></i>
                                <span class="hide-menu">Contenido</span>
                            </a>
                        </li>
                         <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{url_for('main.news')}}" aria-expanded="false">
                                <i class="fa fa-newspaper"></i>
                                <span class="hide-menu">Noticias</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="page-wrapper" style="display: block;">
  <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">{% block page_title %}{% endblock %}</h4>
                    </div>
                   
                </div>
            </div>
            <div class="container-fluid">

  {% block content %}{% endblock %}
            </div>

   <footer class="footer text-center">
                Developed by mauricio
            </footer>
</div>
</div>
</body>
</html>
