<!doctype html>
<html>
<head>
<title>{% block title %}{% endblock %} - Ajedrez</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<style type="text/css">
	bac
</style>
</head>
<body>
	<div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
		<div class="container-fluid">
			 {% block content %}{% endblock %}
		</div>
	</div>
</body>
</html>
