<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Ajedrez</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

<section class="content">
  <header style="background-image:url('{{ url_for('static', filename='images/bg.jpg') }}') ">
    <div class='wrapper'>
      <div class='brand'>
      <div class='logo'
       style="background-image:url('{{ url_for('static', filename='images/logo.jpg') }}') "><a href="{{url_for('main.home')}}">pagina principal</a></div>
     </div>
      <div class='searcher'>
          <form action='/'>
           <div class='f-search'>
            
              <input type="text" placeholder='{{placeholder}}'
                autocomplete="off" 
                 class='control' name="query" />
              <button class='btn'><i class='fa fa-search'></i></button>

          </div>
          </form>

      </div>
    </div>
  </header>
  <div class='topbar'>
    <div class='wrapper'>
      <div class='menu'>
          <ul>
            {% for x in list_menu%}
            <li><a href="{{x.url}}">{{x.name}}</a></li>
            {% endfor%}
          </ul>
      </div>
    </div>
  </div>
  {% block content %}{% endblock %}
</section>
<div class='footer'>
  <footer>
    <div class='wrapper'>
      <div class='menu-cols'>
        <div class='item-menu-cols'>
          <a href="{{url_for('main.home')}}" class="logo-footer">
                      <i class='fa fa-chess'></i>
                          KING CHESS
                    </a>
        </div>
      </div>
    </div>
  </footer>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/msry.js') }}"></script>

</body>
</html>
