{% extends '_app.html' %}
{% block content %}

  <div class='main'>
  	<div class='wrapper'>
  		<div class='news-detail'>
	  		<h2>{{current['title']}}</h2>
	  		<div class='text'>{{current['description']|safe}}</div>
  		</div>
  		
  		<div class='comments'>
  			<div class='comment-section'>
  				<form id='form-comment' action='{{url_for("main.make_comment",code=current['slug'])}}' method='POST'>
	  				<textarea class='control comment' id='tfComment' name='comment'></textarea>
	  				<div id='response-message' class='text-error'></div>
	  				<button type='submit' class='btn btn-comment'>Enviar comentario</button>
  				</form>
  			</div>
  			<div class='list-comment'>
					{% for comment in current['comments'] %}

					<div class='comment-item'>
						<div class='image'><img width='70' src='/static/images/avatar.png' /></div>
						<div class='text'>
							{{comment['comment']}}
						</div>
					</div>


				{% endfor %}
			</div>
  		</div>
  	</div>
  </div>

{% endblock %}
