{% extends '_app.html' %}
{% block content %}

  <div class='main'>
  	<div class='wrapper'>
  		{% if not request.args.get('query', False) %}
	  		<div class='main-news'>
	  			<div class='featured'>
	  				
	  				<div class='image' 
		  					style="background-image:url(http://lorempixel.com/420/420/cats/{{ range(1, 5) | random }}) ">
			  					<div class='content'>
					  					<h3>
				  						<a href='{{ url_for("main.detail_news", code=featured_new.slug) }}'>
						  					{{featured_new.title}}
						  				</a>
						  				</h3>
					  					<p>{{featured_new.description|cleanhtml|summary}}</p>
			  					</div>
		  				</div>
	  			</div>
	  			<div class='related-news'>
	  				<div class='item-related'></div>
	  			</div>
	  		</div>
  		{%endif%}
  		<div class='news'>
  			{% if  request.args.get('query', False) %}
  				<h3 class='title-result'>Resultado de búsqueda: {{request.args.get('query', False) }}</h3>
  			{% endif %}
  			<div id="grid" data-columns>
  				{% for item in news %}
	  			<div class='item'>
	  				<div class='meta-image'
	  					style="background-image:url(http://lorempixel.com/320/120/cats/{{ range(1, 5) | random }}) ">
	  				</div>
	  				<div class='meta-info'>
	  					<h3><a href='{{ url_for("main.detail_news", code=item.slug) }}'>{{item.title}}</a></h3>
	  					<p>{{item.description|cleanhtml|summary}}</p>
	  				</div>
	  			</div>
	  			{% endfor %}
  			</div>
  		</div>
  	</div>
  </div>

{% endblock %}
